* {
    margin: 0px;
    padding: 0px;
}

#outer {
    border: 1px solid red;
    margin: 5em;
    height: 4em;
    position: relative;
}

#inner{
    border: 1px solid blue;
    width: 6em;
    height: 4em;
    background-color: beige;
    text-align: center;
    line-height: 4em;
    position: absolute;
    left: 10em;
}

#inner2{
    border: 1px solid rgb(0, 255, 213);
    width: 6em;
    height: 4em;
    background-color: rgb(245, 220, 239);
    text-align: center;
    line-height: 4em;
    position: absolute;
    left: 16em;
}
img {
    width: 10%;
    height: auto;
    position: absolute;
    z-index: 3;
    left: 17em;
}